<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

    </head>

    <body>

        <header>
            <div class="header1">
               <h3>Natural Language Processing</h3> 
            </div>
            <div class="header2">
                <img id="picture" src="https://cdn.glitch.global/e4e39046-f47e-4e89-9e13-46342547b912/clipart1509414.png?v=1644258970858">              
            </div>
        </header>

        <main>
            <section>
                    <form class="" onsubmit="return handleSubmit(event)">
                    <h3 id="art">News Article</h3>
                    <input id= "userInput" type="text" name="input" value="" placeholder="Article Name">
                    <input id="clickMe" type="submit" name="" value="submit"  onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <div id="subjectivity">Subjectivity: </div>
                    <div id="agreement">Agreement: </div>
                    <div id="irony">Irony: </div>
                    <div id="score_tag">Score Tag: </div>
                    <div id="confidence">Confidence: </div>
                    
                </div>
            </section>
        </main>

        <footer>
            <p>Thanks for using our NLP services</p>
        </footer>
        
    </body>
</html>
