header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: whitesmoke;
  }
  
  .header1 {
    font-family: 'Architects Daughter', cursive;
    color: teal;
    font-size: larger;
  }
  
  #picture {
    width: 60px;
    height: 60px;
  }